* { 
	margin:0px;
	padding: 0px;
}

.caja{
	width: 200px;
	height: 200px;
	position: absolute;
}
.rojo {
	background:#F90B17;
	left: 0px;
	top: 0px;
	margin-right: 500px;
}

.azul {
	background: #0B13F9;
	top: 0px;
	right: 0px;
}

.verde {
	background: #58F728;
	left: 0px;
	bottom: 0px;
}

.amarilla {
	background: #F2FA13;
	right: 0px;
	bottom: 0px;
}