body {
	margin:0px;
	padding: 0px;
	position: absolute;
}

.cajarojo {
	background: #ee3e64;
	width: 200px;
	height: 200px;
}

.cajaazul {
	background: #44accf;
	margin-left: 200px;
	width: 200px;
	height: 200px;
}

.cajaverde {
	background: #8b7d84;
	width: 200px;
	height: 200px;
}